<!doctype html>

<html>
<head>
    <title>Progress Tracker</title>	
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	
      <!--<link href="css/bootstrap.min.css" rel="stylesheet"> -->
      <!--<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
      
      <!-- Materialize Template stuff (Material Design) coding thing-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      
      <!--our css-->  
      
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
</head>

<body>

  
  <!--Materialize Navbar Code-->
  <div class="navbar-fixed">
  <nav class="teal"> <!--change navbar background color here!-->
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Progress Tracker</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down"> <!-- full web page -->
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul>
      <ul class="side-nav" id="mobile-demo"> <!-- mobile -->
        <br>
        <br>
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul>
    </div>
  </nav>
  </div>  

 
  <br>
  <br>

  <div>

    <div class="row">
    <form class="col s12">

      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="row">
        <center>
          <a href="/"><font size="2">Forgot username?</font></a>
          |
          <a href="/"><font size="2">Forgot password?</font></a>
        </center>
      </div>

    </form>
    </div>


    <div>

    <!-- we can change the icons -->
      <center>
        <a href="/" class="btn waves-effect waves-light" type="submit" name="action">Log In
          <i class="material-icons right">send</i>
        </a>

        <br>
        <br>
        <br>

        <a href="/signup" class="btn waves-effect waves-light" type="submit" name="action">Sign Up</a>
        

        <!-- add another button if needed
        <a href="/" class="btn waves-effect waves-light grey lighten-1" type="submit" >Cancel
          <i class="material-icons right">cancel</i>
        </a>
        -->
      </center>

    </div>

  </div>
  
  
  
  


  
  
  <!--when you hit the bottom of the page, allow room for last item-->
  <br>
  <br>
  <br>
  <br>
  
  
  


  
  
  <!--when you hit the bottom of the page, allow room for last item-->
  <br>
  <br>
  <br>
  <br>
  
   
  <!-- Javascripts -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!--<script src="js/bootstrap.min.js"></script> -->
  <!-- Materialize js-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <!-- own js-->
  <script src="js/progressTracker.js"></script>
  
</body>
</html>
