<!doctype html>

<html>
<head>
    <title>Progress Tracker</title>	
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	
      <!--<link href="css/bootstrap.min.css" rel="stylesheet"> -->
      <!--<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
      
      <!-- Materialize Template stuff (Material Design) coding thing-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
      
      <!--our css-->  
      
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
</head>

<body>

  
  <!--Materialize Navbar Code-->
  <div class="navbar-fixed">
  <nav class="teal"> <!--change navbar background color here!-->
    <div class="nav-wrapper">
      <a href="/login" class="brand-logo">Progress Tracker</a>
      <!--<a href="#" data-activates="mobile-demo" class="button-collapse style="padding-left: 5px"">
        <i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down"> 
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul>
      <ul class="side-nav" id="mobile-demo"> 
        <br>
        <br>
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul> -->
    </div>
  </nav>
  </div>

 
  <br>
  <br>


  <div>

    <div class="row">
      <center>
        <h4>Log In</h4>
      </center>
    </div>

    <form id="SignIn" class="col s12" role="form" method="get">

      <div class="row">
        <div class="input-field col s10 offset-s1">
          <input id="username" type="text" class="form-control" name="username" required>
          <label for="username">Username</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s10 offset-s1">
          <input id="password" type="password" class="form-control" name="password" required>
          <label for="password">Password</label>
        </div>
      </div>

      <!--
      <div class="row">
        <center>
          <a href="/"><font size="2">Forgot username?</font></a>
          |
          <a href="/"><font size="2">Forgot password?</font></a>
        </center>
      </div> -->

      <div>
        <center>
          <a href="/" class="btn waves-effect waves-light" type="submit" name="action">Log In
          </a>

          <br>
          <br>
          <br>

          <a href="/signup" class="btn waves-effect waves-light orange darken-4" type="submit" name="action">Sign Up</a>
        
        </center>
      </div>

    </form>
  </div>
  




<!-- Body --> <!-- Form to fill out add --
    <div class="col s12">
      <form id="addTaskForm" role="form" method="get" action="/add">
        <h4 class = "center-align">Log In</h4>

        <div class="form-group col s10 offset-s1"> 
          <!-- Title -->
          <!--<label for="title">Title</label>--
          <input type="text" class="form-control " id="title" placeholder="Username" name="title" required>
        </div>
        
         <div class="form-group col s10 offset-s1"> 
          <!-- Title -->
          <!--<label for="title">Title</label>--
          <input type="text" class="form-control " id="title" placeholder="Password" name="title" required>
        </div>

        <br>
        
        <div class="center-align col s12">

        
        <input type="submit" id="LogInBtn" class="btn waves-effect waves-light" value="Log In"/>
        

        

        
        <br>
        <br>

        <a href="/signup" class="btn waves-effect waves-light orange darken-4" type="submit" name="action">Sign Up
        </a>

        </div>
      </form>
      </div>
      -->
    






  <!-- Javascripts -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <!--<script src="js/bootstrap.min.js"></script> -->
  <!-- Materialize js-->
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <!-- own js-->
  <script src="/js/progressTracker.js"></script>
    <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87264919-1', 'auto');
  ga('send', 'pageview');
  </script>
</body>
</html>
