<!doctype html>

<html>
<head>
    <title>Progress Tracker</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!--<link href="css/bootstrap.min.css" rel="stylesheet"> -->
	<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <!-- Materialize Template stuff (Material Design) coding thing-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <!--our css-->  
       <link rel="stylesheet" href="/css/PTmat.css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>


  <!--Materialize Navbar Code-->
  <div class="navbar-fixed">
  <nav class="teal"> <!--change navbar background color here!-->
    <div class="nav-wrapper">
      <a href="/login" class="brand-logo">Progress Tracker</a>
      <!--<a href="#" data-activates="mobile-demo" class="button-collapse" style="padding-left: 5px">
        <i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down"> 
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul>
      <ul class="side-nav" id="mobile-demo"> 
        <br>
        <br>
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul> -->
    </div>
  </nav>
  </div>

  <br>
  

  <div>
    <center>
      <h4>Sign up</h4>
      <div class="container">
      <font size="2">Join Progress Tracker and start tracking!</font>
      <br>
      <font size="2">See what other people are tracking, track your productivity, and more!</font>
      <br>
      </div>
    </center>
  </div>

  <div class="row">
    <form class="col s12" role="form" method="get" action="/submitSignUp">
     
      <div class="row">
        <div class="input-field col s10 offset-s1">
          <input id="username" type="text" class="form-control" name="username">
          <label for="username">Username</label>
        </div>
      
        <div class="input-field col s5 offset-s1">
          <input id="first_name" type="text" class="validate" name="first_name">
          <label for="first_name">First name</label>
        </div>
        <div class="input-field col s5">
          <input id="last_name" type="text" class="validate" name="last_name">
          <label for="last_name">Last name</label>
        </div>
    
        <div class="input-field col s10 offset-s1">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
  
        <div class="input-field col s10 offset-s1">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      
        <div class="input-field col s10 offset-s1">
          <input id="password" type="password" class="validate">
          <label for="password">Confirm password</label>
        </div>
    

      <center>
      <div class="col s12">
        <!--<a href="/" class="btn waves-effect waves-light" type="submit" name="action">  Sign Up
        </a>-->

        <input type="submit" id="signUpBtn" class="btn waves-effect waves-light" value="Sign Up"/>

        <a href="/signup" class="btn waves-effect waves-light orange darken-4" type="submit" name="action">Clear
        </a>
      </div>
      </center>

    </form>
  
  </div>


  



    <!-- Javascripts -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--<script src="js/bootstrap.min.js"></script> -->
    <!-- Materialize js-->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <!-- own js-->
    <script src="/js/progressTracker.js"></script>
      <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-87264919-1', 'auto');
    ga('send', 'pageview');
    </script>
  </body>

</html>