<!doctype html>

<html>
<head>
    <title>Progress Tracker</title>	
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	
      <link href="css/bootstrap.min.css" rel="stylesheet">
    	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
      
      <!-- Materialize Template stuff (Material Design) coding thing-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      
      <!--our css-->  
      <!--<link href="css/progressTracker.css" rel="stylesheet" >-->
      <link href="css/PTmat.css" rel="stylesheet">
      
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
</head>

<body>
  <!--Materialize Navbar Code-->
  <div class="navbar-fixed">
  <nav class="teal"> <!--change navbar background color here!-->
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Progress Tracker</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down"> <!-- full web page -->
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul>
      <ul class="side-nav" id="mobile-demo"> <!-- mobile -->
        <br>
        <br>
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul>
    </div>
  </nav>
  </div>  

  <!-- Jumbotron header -->
  <div class="jumbotron">
      <h1><center>Progress Tracker</center></h1>
  </div>
 
  <section>
 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input  id="tracker_name" type="text" class="validate">
          <label for="tracker_name">Tracker Name</label>
        </div>
      </div>
      


     
    </form>
  </div>
  </section>





 
			

			<!-- GO TO THIS LINK FOR FORM FIELDS
		!!!!!!!!!
		!!!!

		https://www..com/2013/03/addremove-input-fields-dynamically-with-jquerysanwebe
		
		I added stuff to bootstrap.js but idk how it works or if it works pls check
		!!!!
		!!!!!!!!!
		-->
			<!-- I copied this  -->
	  
			
			<!--
				<button onclick="trackerConfirm()">Confirm</button>

				<script>
					function trackerConfirm() {
					    confirm("Tracker created.");
					}
				</script>

				<button onclick="trackerReset()">Reset</button>

				<script>
					function trackerReset() {
					    confirm("Tracker has been reset.");
					}
				</script>

				CSS reference button
				<a href="index.html" class="btn btn-default">Go home</a>
			-->


				<!-- this works w/o pop up alert-->
				


				
				<!-- gives pop up but does not redirect to page 
				<input type="submit" onclick="confirmationPopUp();">

				<script>
					function confirmationPopUp(){
						/*
						var y = confirm("Are these settings correct?")
						if(y == true)
						{
							window.location.href='trackingPage.html';
						}
						*/


						if(confirm("text here yo"))
						{
							window.location.href = "index.html";
						}

					}

				</script>
				-->


				<!-- Another block 
				<button type="button">
					<a href="index.html" onclick="return confirm('Are you sure?')" > words </a>
				</button>
				-->


	

  		

		<!-- GO TO THIS LINK FOR FORM FIELDS
		!!!!!!!!!
		!!!!

		https://www.sanwebe.com/2013/03/addremove-input-fields-dynamically-with-jquery
		
		!!!!
		!!!!!!!!!
		-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
  
<body>  
    <div class="container">  
            <h4 align="left">Create Checkpoints</h4>  
              <div class="form-group">  
                  <form name="add_checkpoint" id="add_checkpoint">  
                      <div class="table-responsive">  
                          <table class="table table-bordered" id="dynamic_field">  
                             <tr>  
                                <td><input type="text" name="checkpoint[]" placeholder="Enter checkpoint" class="form-control checkpoint_list" /></td> 
                                <td><button type="button" name="add" id="add" class="btn btn-success">Add More</button></td>  
                            </tr>  
                          </table>  
                         <input type="button" name="submit" id="submit" class="btn btn-info" value="Submit" />  
                      </div>  
                  </form>  
              </div>  
           </div>  
      </body>  
 </html>  
 <script>  
 $(document).ready(function(){  
      var i=1;  
      $('#add').click(function(){  
           i++;  
           $('#dynamic_field').append('<tr id="row'+i+'"><td><input type="text" name="name[]" placeholder="Enter checkpoint" class="form-control checkpoint_list" /></td><td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td></tr>');  
      });  
      $(document).on('click', '.btn_remove', function(){  
           var button_id = $(this).attr("id");   
           $('#row'+button_id+'').remove();  
      });  
      $('#submit').click(function(){            
           $.ajax({  
                url:"name.php",  
                method:"POST",  
                data:$('#add_checkpoint').serialize(),  
                success:function(data)  
                {  
                     alert(data);  
                     $('#add_checkpoint')[0].reset();  
                }  
           });  
      });  
 });  
 </script>  





  	</div>



  </section>

    <!-- Javascripts -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Materialize js-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <!-- own js-->
  <script src="js/progressTracker.js"></script>
 
  


  <!-- http://webslesson.blogspot.com/2016/02/dynamically-add-remove-input-fields-in-php-with-jquery-ajax.html -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
</body>



</html>