<!doctype html>

<html>
<head>
    <title>Progress Tracker</title>	
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	
    <!--<link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!--<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
      
      <!-- Materialize Template stuff (Material Design) coding thing-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      
      <!--our css-->  
      <link rel="stylesheet" href="css/PTmat.css"/>
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
</head>

<body>
    <!--Materialize Navbar Code-->
    <div class="navbar-fixed">
    <nav class="teal"> <!--change navbar background color here!-->
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Progress Tracker</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down"> <!-- full web page -->
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul>
      <ul class="side-nav" id="mobile-demo"> <!-- mobile -->
        <br>
        <br>
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul>
    </div>
    </nav>
    </div>  
    
    
    <!-- Body --> <!-- this needs to be populated via JSON -->
    <div class="card">
    <h3 class="center-align">One Mile Run</h3>
    <p class="center-align">Travel a mile by walking, running, jogging, biking or however you like</p>   
    
    
    <!-- checkpoint list -->    
    <h5 class="center-align">Checkpoints</h5>    
    <ul class="collection " id="checkpoints">
      <li class="collection-item CPdone">0.25 mi</li>
      <li class="collection-item CPactive">0.50 mi</li>
      <li class="collection-item">0.75 mi</li>
      <li class="collection-item">1.00 mi</li>
    </ul>
    <br>
   
        
    <!-- button for lapping/changing active checkpoint -->
    <a class="waves-effect waves-light btn" id="CPstart">Lap</a>
    <br>
        <br>
        
    <div class="row"> 
        <!-- tags -->
        <div class="chip">Fitness</div>
        <div class="chip">Running</div>
    </div>      
    </div>
    
    
    
    



    <!-- Javascripts -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
    <!--<script src="js/bootstrap.min.js"></script>
    <!-- Materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!-- own js-->
    <script src="js/progressTracker.js"></script>
 
  


  
</body>



</html>