/*.collection .CPactive {
    color: black; 
    background-color: #f7ffb8; 
} */

:root{
    --cpcolor2: #f7ffb8;
    --cpcolor3: #fbffdb;
    --cpcolor1: #fbffdb;
}

.collection .CPdone {
    color: black;
    background-color: #4cb5ab;
}

.featDesc {
    white-space: nowrap;
    width: 90%;                   
    overflow: hidden;             
    -o-text-overflow: ellipsis;    
    text-overflow:    ellipsis;   
}


.fixed-start-btn {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.btn-large {
  height: 54px;
  line-height: 54px;
}

body {
	background-color: #f3f3f3;
}

:required {
  background: red;
}

/* Makes the active checkpoint glow, modified from Hummad Arslan Aslam - 
   https://codepen.io/arximughal/pen/LEpoOJ */
.collection .CPactive {
  color: black; 
  background-color: #f7ffb8; 
    
  -webkit-animation: glowing 1000ms infinite;
  -moz-animation: glowing 1000ms infinite;
  -o-animation: glowing 1000ms infinite;
  animation: glowing 1000ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: var(--cpcolor1);  }
  25% {background-color: var(--cpcolor2); }
  50% { background-color: var(--color3); }
  75% {background-color: var(--cpcolor2);}
  100% { background-color: var(--cpcolor1);  }

}

@-moz-keyframes glowing {
 0% { background-color: var(--cpcolor1);  }
  25% {background-color: var(--cpcolor2); }
  50% { background-color: var(--color3); }
  75% {background-color: var(--cpcolor2); }
  100% { background-color: var(--cpcolor1);  }

}

@-o-keyframes glowing {
 0% { background-color: var(--cpcolor1);  }
  25% {background-color: var(--cpcolor2); }
  50% { background-color: var(--color3); }
  75% {background-color: var(--cpcolor2); }
  100% { background-color: var(--cpcolor1);  }

}

@keyframes glowing {
 0% { background-color: var(--cpcolor1);  }
  25% {background-color: var(--cpcolor2); }
  50% { background-color: var(--color3); }
  75% {background-color: var(--cpcolor2); }
  100% { background-color: var(--cpcolor1);  }

}