.collection .CPactive {
    color: black; 
    background-color: #f7ffb8; 
}

.collection .CPdone {
    color: black;
    background-color: #4cb5ab;
}

.featDesc {
    white-space: nowrap;
    width: 90%;                   
    overflow: hidden;             
    -o-text-overflow: ellipsis;    
    text-overflow:    ellipsis;   
}